/* Global Styles */
body.modal-open {
    pointer-events: none;
    overflow: hidden;
}

body.modal-open .modal {
    pointer-events: auto;
}

/* Header Styles */
header {
    background-color: #ffffff;
    border-bottom: 2px solid #000000;
}

#main-header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;

    display: grid;
    grid-template-columns: minmax(200px, 20vw) 2fr;
    align-items: center;
}

#main-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding: 1rem 0;
}

#main-logo a,
#main-navbar a {
    color: #000000;
    text-decoration: none;
}

#main-navbar ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#main-navbar a {
    color: #000000;
    text-decoration: none;
    margin: 0 1rem;
    font-size: 1.2rem;
}

#main-navbar a:hover {
    text-decoration: underline;
}

/* Footer Styles */
#main-footer {
    background-color: #282c34;
    color: #ffffff;
    padding: 1.5rem 0;
    text-align: center;
}

#footer-navbar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 2rem;
}

#footer-navbar a {
    color: #61dafb;
    text-decoration: none;
    transition: color 0.3s;
}

#footer-navbar a:hover {
    color: #21a1f1;
}

#footer-cr-statement {
    font-size: 0.9rem;
    margin-top: 1rem;
}

#footer-cr-link {
    color: #61dafb;
    text-decoration: none;
    transition: color 0.3s;
}

#footer-cr-link:hover {
    color: #21a1f1;
}

/* Dropdown Styles */
.hidden-dropdown,
.hidden-class,
.hidden-class-link,
.hidden-description {
    display: none;
}

/* Loading Screen Styles */
.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000080;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-screen-text {
    font-family: monospace;

    overflow: hidden;
    color: #ffffff;
    font-size: 2rem;
    font-weight: 700;
    border-right: .2rem solid #ffffff;
    white-space: nowrap;
    max-width: 10ch;

    animation: typing 3s steps(10, start) infinite, blink-caret 1s step-end infinite;
}

@keyframes typing {
    from {
        max-width: 0;
    }

    to {
        max-width: 10.2ch;
    }
}

@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: #ffffff;
    }
}

/* Success/Error Popup Styles */
.message-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    background-color: #ffffff;
    border: 2px solid #000000;
    border-radius: 0.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Responsive Styles */

/* Mobile */
@media (max-width: 550px) {
    #main-header {
        grid-template-columns: 1fr;
        justify-content: center;
    }

    #main-logo {
        padding: 1rem 0;
    }

    #main-navbar {
        display: none;
    }

    #main-navbar ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #main-navbar a {
        margin: 0.5rem 0;
    }

    #main-navbar a:hover {
        text-decoration: underline;
    }

    #main-navbar a {
        font-size: 1.5rem;
    }

    #main-navbar ul {
        display: none;
    }

    #main-navbar ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #main-navbar a {
        margin: 0.5rem 0;
    }

    #main-navbar a:hover {
        text-decoration: underline;
    }

    #main-navbar a {
        font-size: 1.5rem;
    }

    #classModal {
        width: 80vw;
    }
}