@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

body,
#root,
.container {
    min-height: 100dvh;
    min-width: 100vw;
    background-color: #f9f9f9;
}

button {
    display: inline-block;
    background-color: #0073e6;
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #005bb5;
}

button:active {
    background-color: #004e9d;
}