/* new event modal styles */
#new-event-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2001;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: #ffffff;
    border-radius: 0.5rem;
    box-shadow: 0 4px 12px #00000026;

    padding: 2rem;

    width: 40vw;
    height: 85dvh;

    overflow: scroll;
}

#new-event-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    max-height: 100%;
    overflow: scroll;
    margin: 1rem 0;
}

.new-event-form-page {
    max-height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    row-gap: 1rem;
}

/* event modal styles */
#event-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2001;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;

    background-color: #ffffff;
    border-radius: 0.5rem;
    box-shadow: 0 4px 12px #00000026;

    padding: 2rem;

    width: 55vh;
    height: 65vh;

    overflow: scroll;
}

#event-modal-edit-icon {
    position: absolute;
    top: .5rem;
    right: .5rem;
    cursor: pointer;
    font-size: 1.2rem;
    color: #0073e6;

    animation: shake 3s infinite;
    transition: all .5s ease-in-out;
}

#event-modal-edit-icon:hover {
    color: #005bb5;
    font-size: 1.3rem;
}

#event-modal-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 1rem;
}

.event-modal-info-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #333333;
    text-align: center;
}

.event-info-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .5rem;
}

.event-info-header span {
    font-size: 1rem;
    font-weight: 400;
}

.event-info-header span.event-info-host-info-title {
    font-size: 1rem;
    font-style: italic;
    color: #333333;
}

.event-host-expanded-info-holder {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 1rem;

    margin: 1rem 0;
    background-color: #f3f3f3;
}

.arrow-holder {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.event-host-arrow {
    width: 0;
    height: 0;

    border-top: .6rem solid transparent;
    border-bottom: .6rem solid transparent;
    
    border-left: .6rem solid #333333;

    cursor: pointer;
    transition: transform .5s ease;
}

.event-host-label {
    font-size: .8rem;
    font-style: italic;
    color: #333333;
}

.event-host-arrow.down {
    transform: rotate(90deg);
}

.event-host-expanded-info {
    padding: 1rem;
}

.event-host-expanded-info.hidden {
    display: none;
}

.event-host-expanded-info.visible {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 1rem;
}

/* Event Signin Modal Styles */
.event-signin-type-holder {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1rem;
}

.event-signin-type-input {
    cursor: pointer;
    height: 1rem;
    accent-color: #0073e6;
}